# Settings for model training
model_output_fn: MARCO_Resnet50_128_ # Suffix for the saved model filename
# list of classes, MARCO
class_names: ["Clear", "Crystals", "Other", "Precipitate"] # should correspond to those in training data CSV
image_size: 128 # size of images used for training (must be multiple of 32)
training_set_proportion: 0.8 # Proportion of images to use the training, rest are used for validation
cuda_device: 1 # The graphics card to use (between 0 and 3 for a machine with 4 GPUs)
num_cyc_frozen: 3 # Number of training epochs on frozen model
num_cyc_unfrozen: 5 # Number of training epochs on unfrozen model
patience: 5 # Number of epochs to wait before early stopping if validation loss does not improve
pct_lr_inc: 0.3 # the percentage of overall iterations where the LR is increasing
# Parameters for finding learning rate
starting_lr: 1e-6 # Lower bound of learning rate search
end_lr: 50 # Upper Bound of learning rate search
lr_find_epochs: 1 # Number of training epochs for learning rate search
lr_reduce_factor: 10 # Divisor for start and end LR when finding LR on reloaded model
random_seed: 2147483647 # seed to use if `fix_seed` flag is used to fix train/valid split

# Parameters to control model architecture
model:
  # Choose type of classification model from the list
  # ["convnext_small_384_in22ft1k", "convnext_tiny_384_in22ft1k", "convnext_base_384_in22ft1k",
  # "resnext50d_32x4d", "resnet50", "resnet34", "resnetv2_50"]
  type: "resnet50"
